<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='bootflat.css'>
    <link rel='stylesheet' type='text/css' href='bootflat-square.css'>
    <link rel='stylesheet' type='text/css' href='bootflat.extensions.css'>
    <link rel='stylesheet' type='text/css' href='customizations.css'>
    <link rel='stylesheet' type='text/css' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js'></script>
    <script>
      $(function() {
        $('.time').each(function() {
            var $this = $(this);
            var timestamp = (new Date($this.attr('data-timestamp'))).getTime();
            $this.html(moment(timestamp).format('LLLL'));
        });
      });
    </script>
  </head>
  <body>
    <main>
      <h1 class='lead'>{{job.title}}</h1>
      <time class='text-muted'>
        <small><span class='time' data-timestamp='{{job.updated_at}}'></span></small>
      </time>
      <div class='job-description'>
        {{job.description}}
      </div>
    </main>
  </body>
</html>