<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='http://getbootstrap.com/dist/css/bootstrap.min.css'>
    <style>
      body {
        font-weight: 200;
        font-size: 14px;
        line-height: 1.4em;
      }

      main {
        padding: 10px;
        display: block;
      }

      section {
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
      }

      section:last-of-type {
        border-bottom: 0;
      }

      section .lead {
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
      }

      section > ul > li {
        padding: 10px 0;
        border-top: 1px solid #eee;
      }

      .score {
        font-size: 24px;
        float: left;
        width: 40px;
        text-align: center
      }

      .tags {
        display: block;
        padding: 10px 0;
        border-top: 1px solid #eee
      }

      .answer .details,
      .question-text {
        padding-left: 50px
      }

      .user-avatar {
        width: 24px;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1 class='lead'>{{question.title}}</h1>
        <div class='clearfix'>
          <span class='score'>{{question.score}}</span>
          <div class='question-text'>{{question.body}}</div>
        </div>
      </section>
      <section>
        <h2 class='lead'>Answers: {{question.answer_count}}</h2>
        <aside class='tags'>
          {{#question.tags}}
            <label class='label label-default'>{{.}}</label>
          {{/question.tags}}
        </aside>
        <ul class='list-unstyled answers-list'>
          {{#answers}}
            <li class='answer'>
              <figure class='score'>{{score}}</figure>
              <div class='details'>{{body}}</div>
            </li>
          {{/answers}}
        </ul>
      </section>
    </main>
  </body>
</html>