<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='bootflat.css'>
    <link rel='stylesheet' type='text/css' href='bootflat-square.css'>
    <link rel='stylesheet' type='text/css' href='bootflat.extensions.css'>
    <link rel='stylesheet' type='text/css' href='customizations.css'>
  </head>
  <body>
    <main>
      <header class='media'>
        <div class='pull-left' style='margin-right: 15px'>
          <img src='{{ user.profile_image }}' alt='{{ user.display_name }}' class='img-circle' width='64' />
        </div>
        <div class='media-body'>
          <h2 class='media-heading'>{{user.display_name}}</h2>
          <ul class='list-unstyled'>
            <li>
              <b>Reputation:</b>
              {{user.formatted_reputation}}
            </li>
            <li>
              <b>Website:</b>
              {{user.website}}
            </li>
            <li>
              <b>Age:</b>
              {{user.age}}
            </li>
          </ul>
        </div>
      </header>
      <h3>Questions</h3>
      <ul class='list-group vertically-separated'>
        {{#questions.length}}
          {{#questions}}
            <li class='list-group-item'>
              <div class='media'>
                <div class='pull-left'>
                  <span class='label label-warning label-square'>{{score}}</span>
                </div>
                <div class='media-body'>{{title}}</div>
              </div>
            </li>
          {{/questions}}
        {{/questions.length}}
        {{^questions.length}}
          User has not asked any question
        {{/questions.length}}
      </ul>
      <h3>Tags</h3>
      <ul class='list-group vertically-separated'>
        {{#tags.length}}
          {{#tags}}
            <li class='list-group-item'>
              <span class='label label-success label-square'>{{name}}</span>
              &times;
              {{formatted_count}}
            </li>
          {{/tags}}
        {{/tags.length}}
        {{^tags.length}}
          User does not have any tags
        {{/tags.length}}
      </ul>
      <h3>Badges</h3>
      <ul class='list-group vertically-separated'>
        {{#badges.length}}
          {{#badges}}
            <li class='list-group-item'>
              <span class='label label-success label-square'>{{name}}</span>
              &times;
              {{award_count}}
            </li>
          {{/badges}}
        {{/badges.length}}
        {{^badges.length}}
          User has not been awarded any badges
        {{/badges.length}}
      </ul>
    </main>
  </body>
</html>